
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  background-color: var(--bgBody);
  color : var(--bodyText);
}

*{
  box-sizing: border-box ;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
/*   --brandPrimary: #0768AC;
  --brandSecondary: #03C180;
  --bgDefault: #1A1A1A;
  --bgBody: #282828;
  --linesColor: #000000;
  --bodyText: #EDEDED;
  --heartColor: #DC143C; */
  --bgBody: #312121;
  --bodyText: #f5efed;
  --brandPrimary:#bdbf09 ;
  --brandSecondary: #2292a4;
  --bgDefault: #1A1A1A;

}

/* {"Smoky black":"#0f0a0a","Isabelline":"#f5efed","Blue (Munsell)":"#2292a4","Citrine":"#bdbf09","Cocoa Brown":"#d96c06"} */